<div class="row">
  <div class="large-10 columns">
    <fieldset style="padding: 10px 0 0 0; margin: 3px 10px;">
        <div class="large-1 columns">
          <%= f.label :content, "Answer: ", class: "inline right" %>
        </div>
        <div class="large-8 columns left">
          <%= f.text_field :content %>
        </div>
        <div class="large-3 columns weight_select">
          <div class="large-3 columns">
            <%= f.label :weight, "Weight: ", class: "inline" %>
          </div>
          <div class="large-9 columns">
            <%= f.number_field :weight, placeholder: "custom" %>
          </div>
        </div>
    </fieldset>

  </div>  
  <div class="large-1 columns left" style="margin-top: 17px;">
    <%= f.hidden_field :_destroy %>
    <%= link_to "Remove", '#', class: "remove_fields alert button tiny radius", style: "font-size: 11px;" %>
  </div>
</div>