<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @quiz.title %>
</p>

<p>
  <b>Header url:</b>
  <%= @quiz.header_url %>
</p>

<p>
  <b>Ground Rules:</b>
  <%= @quiz.ground_rules %>
</p>

<p>
  <b>Badge url:</b>
  <%= @quiz.badge_url %>
</p>

<p>
  <b>Source url:</b>
  <%= @quiz.source_url %>
</p>

<p>
  <b>Ad url:</b>
  <%= @quiz.ad_url %>
</p>


<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
